{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Question</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <style>
        body{
            margin-top: 100px;
        }
        #fh1{
            margin-top: 20px;
        }
        #sub-nav{
            display: flex;
            justify-content: space-around;
        }
        #logout-btn{
            background-color: rgb(50, 122, 255);
        }
        /* .list-question{
            height: 400px;
            background-color: rgb(255, 219, 173);
        } */
        #fh3{
            text-align: center;
            font-size: 30px;
            padding-top: 20px;
        }
        @media screen and (max-width: 600px) {
            #fh3{
                font-size: 17px;
            }
        }
        #fh6{
            text-align: justify;
            font-size: 15px;
            /* padding-top: 20px; */
            padding-bottom: 20px;
        }
        @media screen and (max-width: 600px) {
            #fh6{
                font-size: 15px;
                text-align: left;
            }
        }
        #fh5{
            display: flex;
            justify-content: space-around;
            text-align: center;
            font-size: 13px;
            padding-top: 3px;
            width: 90px;
            color: rgb(223, 223, 223);
            height: 20px;
            background-color: rgb(34, 129, 253);
            border-radius: 20px;
            /* padding-top: 20px; */
            /* background-color: blue; */
        }
        @media screen and (max-width: 600px) {
            #fh5{
                font-size: 10px;
            }
        }
        .questions{
            /* padding-top: 40px; */
            /* background-color: white; */
            /* height: 30px; */
        }
        /* #fh5diev{
            width: 90px;
            color: rgb(53, 53, 53);
            height: 20px;
            background-color: rgb(34, 129, 253);
            border-radius: 20px;
            margin-left: 40pxf;
        } */
        .container11{
            width: 100%;
            text-align: center;
}
    </style>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container" style="background-color: blanchedalmond; height: 200px; " >
            <h2 style="text-align: center; padding-top: 35px; font-family: 'Poppins', sans-serif;">Do you wanna delete this question? <b>{{ question.title }}</b></h2>
            <div class="container11">
                <!-- <button class="btn btn-outline-danger" type="submit" style="font-family: 'Poppins', sans-serif;"><a href="" class="btn btn-outline-danger" style="text-decoration: none;">Delete</a></button> -->
                <button class="btn btn-outline-danger" type="submit" style="font-family: 'Poppins', sans-serif;">Delete</button>
                <a href="{% url 'stackbase:question_detail' question.id %}" class="btn btn-outline-success" >Cancel</a>
            </div>
        </div>
    </form>









    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script> -->
</body>
</html>
{% endblock content %}